*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', arial;
  }
  ion-content{
    --ion-background-color: #fff;
  }
  .head-title{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }
  .head-title h1{
      margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }
  .head-title p{
      font-size: 1.5rem;
  }
  .head-title ion-icon{
      font-size: 2rem;
  }
  .register-form{
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .register-form p{
      margin-top: 1rem;
      font-size: 1.2rem;
  }
  .register-form ion-input{
    margin-top: 0.5rem;
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
    color: #C1933E;
  }
  .btn{
    margin-top: 2rem;
  }
  .register-form ion-button{
    margin-top: 0.5rem;
    width: 70%;
    background-color: #C1933E;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
  }
  .register-form ion-button:hover {
    background-color: #fff;
    color: #C1933E;
  }