<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <ion-grid>
    <ion-row>
      <ion-col size="8"></ion-col>
      <ion-col size="4" style="background: #C1933E; height: 100%;">
        <div class="head-title">
          <ion-icon name="arrow-back-outline" routerLink="/home"></ion-icon><h1>Kawwin Register Page</h1>
          <p>Your Info</p>
        </div>
        <div class="register-form">
          <p>Your Name</p>
            <ion-input type="text"></ion-input>
          <p>Your Partner Name</p>
            <ion-input type="text"></ion-input>
          <p>Email</p>
            <ion-input type="text"></ion-input>
          <p>Password</p>
            <ion-input type="password"></ion-input>
          <p>Number Telephone</p>
            <ion-input type="text"></ion-input>
          <p>Date</p>
            <ion-input type="date"></ion-input>
          <p>Time</p>
            <ion-input type="time"></ion-input>
          <div class="btn">
            <ion-button expand="block" fill="clear" shape="round">
              Register
            </ion-button>
            <br>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>